@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

html {
    font-family: 'Mukta', sans-serif;
    background-color: #FBFCFF;
}

h1 {
    font-size: 3em;
}

.sky-section {
    background-image: url("https://images.rawpixel.com/image_200/cHJpdmF0ZS9zdGF0aWMvaW1hZ2Uvd2Vic2l0ZS8yMDIyLTA0L2xyL2Zyc3Vuc2V0X3N1bl9za3lfY2xvdWRfMC1pbWFnZS1reWJhbDZycS5qcGc.jpg");
}